<div class="container">
    <div *ngFor="let product of products" class="card-of-product">
      <div class="product-images">
        <img [src]="product.images[0]" alt="{{product.name}}" class="product-img">
        <div class="im">
          <img *ngFor="let img of product.images" [src]="img" (click)="product.images[0] = img" class="m">
        </div>
      </div>
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p>⭐{{ product.rating }}</p>
      <a [href]="product.link" target="_blank" class="btn">Buy</a>
      <div class="button">
        <button (click)="shareWhatsApp(product.link)">WhatsApp</button>
        <button (click)="shareTelegram(product.link)">Telegram</button>
      </div>
    </div>
  </div>
